.box{
    width:100%;
    padding:20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}